*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font */
    font-family: 'DM Sans';
    font-style: normal;
}
/* dody */
body{
    background-color: #D9E5F3;
    overflow: hidden;
}
/* header */
header{
    background-color: #FFFFFF;
    width: 100%;
    height: 127px;
    border-radius: 0 0 10px 10px;
    padding: 40px 0 0 40px;
    box-shadow: 0px 4px 18px -6px #0057FF;

}
/* logo */
header img{
    width: 123.14px;
}
/* card dei form */
.card-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    padding: 20px;
    width: 40%;
    border-radius: 20px;
    border: 1px solid #134077;
    z-index: 2000;

}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label{
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 99.5%;
    color: #231F20;
}
input{
    margin: 10px 0 10px 0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 99.5%;
    color: #231F20;
}

/* bottone */
button.submit{
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 99.5%;
    background: #0057FF;
    border-radius: 11px;
    padding: 10px 0 10px 0;
    border: none;
    cursor: pointer;
}
/* bottone reimposta password */
.reimposta_password{
    margin-bottom: 20px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    background: #006eff;
    border-radius: 11px;
    padding: 10px 0 10px 0;
    border: none;
    cursor: pointer;
}
/* link */
a{
    margin: 20px;
    text-align: center;
}
/* sottotitolo */
h2{
    position: relative;
    top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 99.5%;
    text-align: center;
    color: #134077;
}
/* contenitore delle card eventi */
.eventi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    width: 80%;
}
/* card evento singolo */
.card_evento{
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #134077;
    z-index: 2000;
}
/* tutti gli elementi interni alla card evento */
.card_evento *{
    margin: 5px;
}
/* titolo evento */
.card_evento h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 99.5%;
    text-align: center;
}
/* orario evento */
.card_evento span{
    font-weight: 400;
    font-size: 20px;
    line-height: 99.5%;
    color: #CCCCCC;
}

/* immagini nella section  */
section{
    width: 100%;
}
/* cerchi */
.cerchio-piccolo{
    position: absolute;
    width: 181px;
    height: 181px;
    left: 1400px;
    top: 444px;
    z-index: 1000;
}
.cerchio-grosso{
    position: absolute;
    width: 358px;
    height: 358px;
    left: 0px;
    top: 318px;
    z-index: 1000;
}
/* onde */
.onda3{
    position: absolute;
    width: 100vw;
    height: 226px;
    left: 0vw;
    bottom: 10vw;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 800;
}
.onda3 img{
    width: 100%;
}
.onda2{
    position: absolute;
    width: 110vw;
    height: 470.33px;
    left: -5vw;
    bottom: 3vw;
    transform: rotate(0deg);
    z-index: 900;
}
.onda2 img{
    width: 100%;
}
.onda1{
    position: absolute;
    width: 100vw;
    height: 152px;
    left: 0;
    bottom: 0;
    z-index: 1000;
}
.onda1 img{
 width: 100%;
}
/* razzo */
.razzo{
    position: absolute;
    width: 111px;
    height: 185px;
    right: 20vw;
    bottom: 10vw;
    z-index: 1100;
}
.punta{
    position: relative;
    top: 85px;
    left: 39px
}
.corpo{
    position: relative;
    top: 80px;
    left: 40px;
}
.ala-sinistra{
    position: relative;
    top:65px;
    left: 21px;
}
.ala-destra img{
    position: relative;
    left: 101px;
}
.ala-centro{
    position: relative;
    left: 70px;
    bottom: 61px;
}
.oblo{
    position: relative;
    left: 59px;
    bottom: 180px;
}